[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = chicuti99
	email = 91292730+chicuti99@users.noreply.github.com
